/**************** MIN-WIDTH 768PX ***************/

@media screen and (min-width: 768px) {
    #sidebar {
        flex-basis: 200px;
    }

    #sidebar .logo {
        text-align: left;
    }

    #sidebar .small-logo {
        display: none;
    }

    #sidebar .top .big-logo {
        display: block;
        width: 80%;
        margin: 0 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #sidebar nav a {
        justify-content: flex-start;
        align-items: center;
    }

    #sidebar nav img {
        width: 15%;
    }

    #sidebar .download img {
        width: 10%;
    }

    #sidebar .playlist {
        display: block;
        padding: 0 10px;
    }

    #sidebar nav li,
    #sidebar h5 {
        text-align: left;
    }

    #sidebar nav span {
        display: inline-block;
        margin-left: 5px;
    }

    #sidebar .profile span {
        color: rgb(255 255 255);
        font-weight: bold;
    }

    #sidebar .profile hr {
        display: block;
        color: rgb(163, 163, 163);
        margin: 5px 0;
    }

    .nav-bar .link {
        flex-basis: calc(100% / 3);
    }

    /* HOVER */

    #sidebar .playlist a:hover {
        color: rgb(255 255 255);
    }

    #sidebar li span:hover {
        color: rgb(255 255 255);
    }
}

/**************** MIN-WIDTH 992PX *****************/

@media screen and (min-width: 992px) {
    #sidebar {
        flex-basis: 200px;
    }

    #sidebar .logo {
        text-align: left;
    }

    #sidebar .small-logo {
        display: none;
    }

    #sidebar .top .big-logo {
        display: block;
        width: 80%;
        margin: 0 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #sidebar nav a {
        justify-content: flex-start;
        align-items: center;
    }

    #sidebar nav img {
        width: 15%;
    }

    #sidebar .download img {
        width: 10%;
    }

    #sidebar .playlist {
        display: inline-block;
        padding: 0 10px;
    }

    #sidebar nav li,
    #sidebar h5 {
        text-align: left;
    }

    #sidebar nav span {
        display: inline-block;
        margin-left: 5px;
    }

    #sidebar .profile span {
        color: rgb(255 255 255);
        font-weight: bold;
    }

    #sidebar .profile hr {
        display: block;
        color: rgb(163, 163, 163);
        margin: 5px 0;
    }


    .nav-bar .link {
        flex-basis: calc(100% / 5);
    }

    .row .card {
        flex-basis: calc(100% / 4);
    }

    /* HOVER */

    #sidebar .playlist a:hover {
        color: rgb(255 255 255);
    }

    #sidebar li span:hover {
        color: rgb(255 255 255);
    }
}

/**************** MIN-WIDTH 1200PX *****************/

@media screen and (min-width: 1200px) {
    #sidebar {
        flex-basis: 200px;
    }

    #sidebar .logo {
        text-align: left;
    }

    #sidebar .small-logo {
        display: none;
    }

    #sidebar .top .big-logo {
        display: block;
        width: 80%;
        margin: 0 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #sidebar nav a {
        justify-content: flex-start;
        align-items: center;
    }

    #sidebar nav img {
        width: 15%;
    }

    #sidebar .download img {
        width: 10%;
    }

    #sidebar .playlist {
        display: inline-block;
        padding: 0 10px;
    }

    #sidebar nav li,
    #sidebar h5 {
        text-align: left;
    }

    #sidebar nav span {
        display: inline-block;
        margin-left: 5px;
    }

    #sidebar .profile span {
        color: rgb(255 255 255);
        font-weight: bold;
    }

    #sidebar .profile hr {
        display: block;
        color: rgb(163, 163, 163);
        margin: 5px 0;
    }

    .nav-bar .link {
        flex-basis: calc(100% / 6);
    }

    .row .card {
        flex-basis: calc(100% / 6);
    }

    /* HOVER */

    #sidebar .playlist a:hover {
        color: rgb(255 255 255);
    }

    #sidebar li span:hover {
        color: rgb(255 255 255);
    }
}