/****************************** RESET **************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************** GENERICS **************************/

body {
    min-width: 552px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: rgb(40, 40, 40);
    z-index: 2;
}


main {
    display: flex;
    align-items: stretch;
}

a {
    text-decoration: none;
}

/************************** UTILS ******************************/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/****************************** SIDEBAR **************************/

#sidebar {
    height: 100vh;
    background-color: black;
    flex-basis: 50px;
    color: white;
    z-index: 1;
    padding-bottom: 10px;
}

#sidebar .logo {
    text-align: center;
    padding-top: 5px;
}

#sidebar .small-logo img {
    width: 50%;
}

#sidebar .links .top {
    flex-basis: 100px;
}

#sidebar .links .bottom {
    flex-basis: 100px;
}

#sidebar .links {
    height: 100%;
    justify-content: space-between;
    margin: 5px 0;
}

#sidebar .links ul {
    text-align: center;
    list-style-type: none;
}

#sidebar .links img {
    width: 50%;
    display: inline-block;
    margin-top: 5px;
}

#sidebar img .download-img {
    width: 25%;
}

#sidebar .profile img {
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    margin-top: 10px;
}

/* RESPONSIVE */

#sidebar .big-logo {
    display: none;
}

#sidebar .links span {
    display: none;
    color: rgb(163, 163, 163);
    font-size: 0.8rem;
}

#sidebar .playlist {
    display: none;
    overflow-y: scroll;
    flex-basis: 100%;
    margin-top: 20px;
}

#sidebar .playlist a {
    color: rgb(163, 163, 163);
    display: block;
    margin-top: 15px;
    font-size: 0.8rem;
}

#sidebar .profile hr {
    display: none;
}

/************************* MAIN *******************************/

/* UPGRADE */

.upgrade {
    height: 80px;
    background-color: rgba(8, 11, 18, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    line-height: 80px;
    text-align: end;
}

.upgrade .btn {
    vertical-align: middle;
    color: rgb(255 255 255);
    font-size: 0.8rem;
    height: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    border: 3px solid rgb(255 255 255);
    margin-right: 15px;
}

/* CONTENT */

#content {
    background-color: rgb(20, 25, 34);
    flex-basis: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

/* NAV-BAR */

.nav-bar {
    justify-content: center;
    font-size: 0.8rem;
}

.nav-bar .link {
    flex-basis: calc(100% / 4);
    text-align: center;
}

.nav-bar .link a {
    color: rgb(116, 118, 123);
    display: block;
}

.nav-bar .link hr {
    width: 30px;
    color: transparent;
    display: inline-block;
}


/* CARDS */

.row {
    color: rgb(255 255 255);
    margin-top: 20px;
}

.row h1,
.row p {
    margin-left: 10px;
    margin-bottom: 10px;
}

.row .cards {
    justify-content: flex-start;
    align-items: stretch;
}

.row .card {
    flex-basis: calc(100% / 2);
    text-align: center;
    padding: 10px 10px;
}

.row .card figure {
    position: relative;
}

.row .card img {
    width: 100%;
}

.row .card .play {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.row .play a {
    color: rgb(255 255 255);
}

.row .card span {
    display: block;
}

.row .card .title {
    font-weight: bold;
}

.row p,
.row .card .subtitle {
    font-size: 0.7rem;
    color: rgb(116, 118, 123);
}

/***************************** FOOTER ********************************/

footer .col {
    flex-basis: calc(100% / 3);
    padding: 20px 10px;
}

footer .listening img {
    width: 20%;

}

/******************************* HOVER *******************************/

#sidebar .top li:hover,
#sidebar .bottom li:hover,
#sidebar .logo:hover {
    border-left: 3px solid rgb(208, 255, 108);
}

.upgrade .btn:hover {
    font-size: 0.9rem;
}

.nav-bar .link:hover hr {
    color: rgb(208, 255, 108);
}

.nav-bar .link:hover a {
    color: rgb(255 255 255);
}

.row .card img:hover {
    opacity: 50%;
    cursor: pointer;
}

.row .card img:hover .play {
    display: inline-block;
}